body {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

div.showcase div.item {
  position: relative;
}
div.showcase img {
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid #eee;
}

div.showcase div.rollover {
  position: absolute;
  padding: 10px;
  top: 0px;
  height: 211px;
  width: 211px;
  color: #eee;
  background-color: #333;
  opacity: 0;

  transition: opacity 0.2s;
  -moz-transition: opacity 0.2s; /* Firefox 4 */
  -webkit-transition: opacity 0.2s; /* Safari and Chrome */
  -o-transition: opacity 0.2s; /* Opera */
}

div.showcase div.rollover:hover {
  opacity: 0.9;
}

div.showcase h4 {
  font-weight: normal;
}

div.showcase h4 a {
  color: #eee;
}

div.showcase h4 a:hover {
  color: #08C;
}

div.content img {
  display: block;
  margin: 30px auto;
}

div.content h4 {
  margin-top: 20px;
}

#svg-container {
  height: 100px;
}

#disqus_thread {
  margin-top: 40px;
}

