/* Document styling */
body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	width: 840px;
	margin: 0 auto 50px auto;
	font-size: 14px;
}

.twitter-share-button[style], .twitter-follow-button[style] { vertical-align: text-bottom !important; }
.twitter-share-button {width: 76px !important;}